@page
@model HoursModel
@{
    ViewData["Title"] = "Projects Overview";
}

<div>
    <form method="post">
        <div class="form-group">
        <label asp-for="DriverId"></label>
        <input asp-for="DriverId">
        </div>
        <div class="form-group">
        <label asp-for="NumberOfHours"></label>
        <input asp-for="NumberOfHours">
        </div>
        <input type="submit" value="Add Hours" />
    </form>
    <table>
        <thead>
					<tr>

                        <th scope="col">Driver</th>
						<th scope="col">Hours</th>
						<th scope="col" class="text-right">Date Of Entry</th>

                    </tr>
        </thead>
 @foreach(var hour in Model.Project.Hours){
        <tr>
            <td>@hour.DriverId</td>
            <td>@hour.Hours</td>
            <td>@hour.Date.LocalDateTime</td>
        </tr>
    }
    </table>
 
</div>
