@page
@model ProjectIndexModel
@{
    ViewData["Title"] = "Projects Overview";
}
<form method="post">
<div class="text-center">
    <table>
        <thead>
					<tr>

                        <th scope="col">Title</th>
						<th scope="col"></th>
					</tr>
        </thead>
 @foreach(var project in Model.Projects)
 {
     <tr>
        <td>
                @Html.DisplayFor(modelItem => project.Title)
        </td>
            <td>
                <button type="submit" class="btn btn-primary" asp-page-handler="GoToProject"
                                asp-route-id="@project.Id.ToString()">
                                <i class="bi bi-book"></i>
                </button>            
            </td>        
     </tr>
 }
 </table>
</div>
</form>
