@page
@model ProjectIndexModel
@{
    ViewData["Title"] = "Projects Overview";
}

<div class="text-center">
    <table>
        <thead>
					<tr>

                        <th scope="col">Title</th>
						<th scope="col"></th>
					</tr>
        </thead>
 @foreach(var project in Model.Projects)
 {
     <tr>
        <td>
                @Html.DisplayFor(modelItem => project.Title)
        </td>
            <td><a class="btn btn-primary" asp-page="Hours" asp-route-id="@project.Id"><i class="bi bi-book"></i></a></td>        
     </tr>
 }
 </table>
</div>
